@font-face {
	font-family: 'SF Display';
	font-weight: 700;
	font-display: swap;
	src: url('https://sf.abarba.me/SF-UI-Display-Bold.otf');
}

@font-face {
	font-family: 'SF Text';
	font-weight: 200;
	font-display: swap;
	src: url('https://sf.abarba.me/SF-UI-Text-Light.otf');
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: SF Display, Helvetica, Arial, sans-serif;
	background: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	background: rgba(0, 0, 0, 0.8);
	opacity: 1;
	height: 3.5em;
	margin: auto;
	align-items: center;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0);
	backdrop-filter: blur(1.5em);
	-webkit-backdrop-filter: blur(1.5em);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgb(31, 27, 27);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(66, 60, 60);
}

::-moz-scrollbar {
	width: 10px;
}

::-moz-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-moz-scrollbar-thumb {
	background: rgb(31, 27, 27);
}

::-moz-scrollbar-thumb:hover {
	background: rgb(66, 60, 60);
}

.fade {
	animation: fadeInAnimation ease 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
